.elemento-no-centro{
  text-align: center;
}
.plano-de-fundo{
background-color: #3dc1d3;
/*background-image:url("fundo.png");*/
background-color:
}
.texto-branco{
  color:white;
}
.texto-azul-marinho{
  color:#303952;
}
.texto-rosa{
  color:#c44569;
}
